@font-face {
    font-family: 'Digit';
    src: url('01 Digit.ttf');
}
body{
    background-color: darkslategrey;
    font-family: 'Digit';
    color: darkgray;
}
#calculator{
    background-color: darkgray;
}
#display{
    background-color: black;
    font-size: 10vw;
    border-radius: 45px;
    overflow: hidden;
}
#display p{
    margin: 0;
}
.btn-block{
    border-radius: 45px;
    font-size: 5vw;
    letter-spacing: 4px;
}
.num{
    color: darkgreen;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #display{
        font-size: 3vw;
    }
    .btn-block{
        font-size: 3vw;
    }
}


@media all and (orientation:portrait) {
    #calculator{
        position:absolute;
        bottom:20%;
    }
}

@media all and (orientation:landscape) {
    /* Style adjustments for landscape mode goes here */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #display{
        font-size: 6vw;
        margin: 2px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #display{
        font-size: 3vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #calculator{
        width: 35vw !important;
    }
    .btn-block{
        font-size: 1.4em !important;
        width: 8vw !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.blink{
    color: rgb(0, 137, 226);
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
}
